.flexbox-container{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  top: 25em;
}   
.button-options-container{
  display: flex;
 
  width: auto;
}

.go-back-btn{
  appearance: button;
  background-color: #1899D6;
  height: 25px;
  width: 100px;
  
}